// _google-fonts.styl

/**
 * Fonts from Google
 * Connect using import
 *
 */

/**
 * Declaration
 * --------------------------------------------------------------------------
 */


/**
 * Montserrat
 * --------------------------------------------------------------------------
 * Enable if you are using Montserrat from Google Fonts
 *
 */

/**
 * Uncomment the code below
 */

// [start of declaration]

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,400i,700&subset=cyrillic')

// [end of declaration]
