// _variables.styl

// Color
$color-1 = #e5f3f4
$color-2 = #f4e8da
$color-3 = #2d2d37
$color-4 = #bcbcbc
$color-5 = #ffd3d2
$color-6 = #9b9aaa
$color-7 = #fefaf9
$color-8 = #ffaabd
$color-9 = #fdb4c5
$color-10 = #ebf5f6
$color-11 = #ffecee
$color-12 = #fbf7ee
$color-13 = #ffafc2
$color-14 = #ffd7d8
$color-15 = #e8f6f7
$color-16 = #f0f0f2
$color-17 = #e9e8ed
$color-18 = #a4abb3
// Size
