//- _link.pug

//- bootstrap.css
  - Enable if you are using Bootstrap 4.0.0 from CDN.
  - Is disabled by default
  link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')

//- main.css
  - Enable if the styles are extracted and not packaged in a bundle.
  - Enable if you add manually.
  - Is disabled by default
  link(rel='stylesheet' href='main.css')
  link(rel='stylesheet' href='index.css')

link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.0.8/css/all.css' integrity='sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S' crossorigin='anonymous')
