//- _meta.pug
meta(charset='utf-8')
meta(name='description' content='Персональный сайт ИП Москалец Богдана Александровича (Ethcrawford). Верстка сайта, цена, сроки, примеры договора подряда и других документов. Сильные стороны и особенности работы')
meta(name='keywords' content='верстка, ип, предприниматель, договор, фриланс, разработка')
meta(name='author' content='Ethcrawford')
meta(name='viewport' content='width=device-width, initial-scale=1.0, minimum-scale=1.0')
//- , maximum-scale=1.0, user-scalable=no
meta(name='google-site-verification' content='QYO3-SCEDYhqIDqN3x6aBc8sSaU3I7WXXRaz_nxvVNI')
