//- index.pug
extends ../../_base

block title
  | Index page

block main
  //- Page Header
  header.page-header
    .container
      h1#Home.logo
        div.logo__text
          span.logo__first
            | Ethcrawford

          span.logo__last
            |  Workshop

        .logo__caption
          | Ничем не отличающийся

      nav
        h1.visually-hidden Главная навигация

        ul.navbar-list
          li.navbar-list__item
            a.navbar-list__link(href='#Contracts')
              | Документы

          li.navbar-list__item
            a.navbar-list__link(href='#Contacts')
              | Контакты

          li.navbar-list__item
            a.navbar-list__link(href='#Requisites')
              | Реквизиты

          li.navbar-list__item
            a.navbar-list__link(href='#ShortInfo')
              | Кратко

          li.navbar-list__item
            a.navbar-list__link(href='#Details')
              | Подробно

          li.navbar-list__item
            a.navbar-list__link(href='#TechnicalDetails')
              | Технические детали

  //- Main Content
  main(role='main')
    section.section
      .container
        a.anchor(href='#Intro')
          i.fas.fa-anchor(aria-hidden='true')
  
        h1#Intro.title
          | Intro...
  
        p
          | Да, да, страница полностью загрузилась. Все так и задумано. Давайте сосредоточимся на содержании

    //- Section 1
    section.section
      .container
        //- Header
        header
          a.anchor(href='#ShortInfo')
            i.fas.fa-anchor(aria-hidden='true')
  
          a.anchor(href='#Details' title='Следующий раздел')
            i.fas.fa-level-down-alt(aria-hidden='true')
  
          a.anchor(href='#Intro' title='Предыдущий раздел')
            i.fas.fa-level-up-alt(aria-hidden='true')
  
          h1#ShortInfo.anchor-title
            | Быстрей, быстрей! Краткий обзор
  
          p.caption
            | Инфо-концентрат
  
        //- Body
        section.section
          a.anchor(href='#ShortInfoWork')
            i.fas.fa-anchor(aria-hidden='true')
  
          h1#ShortInfoWork.sec-3-sub-1__title
            | Про подряд
          p
            | Я конструирую интерфейс с помощью HTML, CSS и JS. За основу берется предоставленный заказчиком дизайн-макет. Другими словами, это перевод из JPG|PNG|PSD в HTML. Кто сказал верстка?
  
        section.section
          a.anchor(href='#ShortInfoInteresting')
            i.fas.fa-anchor(aria-hidden='true')
  
          h1#ShortInfoInteresting.sec-3-sub-1__title
            | Самое интересное
  
          p
            | 140
          p
            | Именно столько рублей стоит час моей работы
          p
            | 2000
          p
            | Во столько рублей вам обойдется средний лендинг
          p
            | 30
          p
            | Столько часов я в среднем трачу на верстку лендинг пейдж
  
        section.section
          a.anchor(href='#ShortInfoResult')
            i.fas.fa-anchor(aria-hidden='true')
  
          h1#ShortInfoResult.sec-3-sub-1__title
            | И что в итоге?
          p
            | Вы получаете готовый интерфейс, обладающий логичной компоновкой, адаптирован под различные экраны устройств, устойчив при внесении в него дополнений и обладает оптимальным весом
  
        section.section
          a.anchor(href='#ShortInfoImportant')
            i.fas.fa-anchor(aria-hidden='true')
  
          h1#ShortInfoImportant.sec-3-sub-1__title
            | Самое важное
          p
            | Работа выполняется по договору подряда ИП. Плата за работу осуществляется путем перевода средств на расчетный счет исполнителя. То есть мой
          p
            | По умолчанию я беру предоплату 30% от общей суммы в договоре. Но могу пойти на уступки
          p
            | Сколько, сколько? - калькулятор тридцати процентов. Скоро
  
    //- Section 2
    section.section
      .container
        //- Header
        header
          a.anchor(href='#Details')
            i.fas.fa-anchor(aria-hidden='true')
  
          a.anchor(href='#TechnicalDetails' title='Следующий раздел')
            i.fas.fa-level-down-alt(aria-hidden='true')
  
          a.anchor(href='#ShortInfo' title='Предыдущий раздел')
            i.fas.fa-level-up-alt(aria-hidden='true')
  
          h1#Details.anchor-title
            | Не на столько быстрей! Подробный разбор
  
          blockquote
            p.caption
              | Для тех, кто интересуется

        //- Summary
        p
          | Краткое содержание раздела
        ol
          li
            a(href='#Pricing')
              | Ценообразование
          li
            a(href='#ProcessControl')
              | Легкость в управлении процессом разработки
          li
            a(href='#ContractWork')
              | Работа по договору
          li
            a(href='#Officially')
              | Официально
          li
            a(href='#Directly')
              | Я выполняю работу один
          li
            a(href='#NecessaryMaterials')
              | Необходимые материалы
          li
            a(href='#')
              | Так что же необходимо?
          li
            a(href='#')
              | Настройка сроков
          li
            a(href='#')
              | Советы
          li
            a(href='#')
              | Этапы верстки
  
        //- Body
        //- Subsection 1 in Section 2
        section
          header
            a.anchor(href='#Pricing')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Pricing
              | Ценообразование
  
          p
            | Не знаете как я считаю стоимость работы над проектом? Из почасовой ставки конечно! Теперь знаете. Но это еще не все. Сюда прибавляются и вычитаются различные нюансы работ. Скоро калькулятор ценообразования
  
        //- Subsection 2 in Section 2
        section
          header
            a.anchor(href='#ProcessControl')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#ProcessControl
              | Легкость в управлении процессом разработки
  
            blockquote
              p.caption
                | Вы можете проявить себя
  
          p
            | Если вы знаете или имеете представление какая работа происходит на этапе &#34;верстки&#34;, то вы можете задать более тонкие настройки этого процесса. Например выбрать то, в каком виде проект будет предоставлен вам по завершению. В другом случае, я сделаю все на свое усмотрение. Вам стоит волноваться об этом только если вы хотите получить код в каком-то ином виде, отличном от общего случая. Обратите внимание, что все это никак не повлияет на конечную цену, но вам будет необходимо в письменном виде согласовать со мной такие настройки. Это защитит нас обоих от недопонимания
  
        //- Subsection 3 in Section 2
        section
          //- Header
          header
            a.anchor(href='#ContractWork')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#ContractWork
              | Работа по договору
  
            blockquote
              p.caption
                | Нужно договориться
  
          //- Body
          p
            | Договор дороже денег, потому что помогает их сохранить обеим сторонам. Я работаю только по договору подряда (такой договор после завершения работ передает заказчику полное право на использование программного продукта) и только напрямую (перевод денег на расчетный счет исполнителя). Если вы так не работали ранее, то попробуйте. В любом случае, я предоставлю вам все необходимые документы: договор подряда с техническим заданием, счет на оплату, акт выполненных работ
  
        //- Subsection 4 in Section 2
        section
          //- Header
          header
            a.anchor(href='#Officially')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Officially
              | Официально
  
            blockquote
              p.caption
                | Не спрятаться, не скрыться
  
          //- Body
          p
            | Моя деятельность зарегистрирована, имя внесено в реестр индивидуальных предпринимателей, а номер телефона находится в открытом доступе. Также у меня есть расчетный счет в банке. Что это значит? А то, что моя анонимность стремится к нулю и со мной можно безопасно работать
  
        //- Subsection 5 in Section 2
        section
          //- Header
          header
            a.anchor(href='#Directly')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Directly
              | Я выполняю работу один
  
            blockquote
              p.caption
                | Из первых рук
  
          //- Body
          p
            | Я не нанимаю субподрядчиков и не передаю работу третьим лицам. Все детали проекта обсуждаются со мной лично и я связываюсь с вами если у меня возникают вопросы. Работа напрямую - это быстро, удобно и подконтрольно
  
        //- Subsection 6 in Section 2
        section
          //- Header
          header
            a.anchor(href='#NecessaryMaterials')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#NecessaryMaterials
              | Необходимые материалы
  
            blockquote
              p.caption
                | Мечты, мечты
  
          //- Body
          p
            | Для верстки мне потребуется как минимум большое изображение дизайна и как максимум нарезанный макет с исходниками картинок
  
        //- Subsection 7 in Section 2
        section
          //- Header
          header
            a.anchor(href='#WhatIsNecessary')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#WhatIsNecessary
              | Так что же необходимо?
  
          //- Body
          p
            | Из картинки верстать трудно, долго, дорого и неудобно. Стандарт для дизайн-макета это документ в формате PSD (Adobe Photoshop). Но безупречным решением, на самом деле, будет дополнительный снимок макета в формате изображения и архив использованных материалов. Что туда входит? Очень просто: файлы шрифтов, которые использовал дизайнер, полномасштабные исходные изображения до наложения фильтров и изменения размеров, иконки, возможно склеенные в спрайт или в формате SVG
  
        //- Subsection 8 in Section 2
        section
          //- Header
          header
            a.anchor(href='#SettingDeadlines')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#SettingDeadlines
              | Настройка сроков
  
            blockquote
              p.caption
                | Немного сложнее чем просто
  
          //- Body
          p
            | Я трачу на разработку не более 7 часов в день без учета перерывов при стандартной нагрузке и работаю пять дней в неделю (не обязательно будних). Звонки принимаю в любое время. Когда я рассчитывая длительность работы над проектом , то отталкиваюсь от этих данных. Сроки могут меняться в зависимости от доработок или быть сжаты за дополнительную плату. Скоро калькулятор сроков
  
        //- Subsection 9 in Section 2
        section
          //- Header
          header
            a.anchor(href='#Advice')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Advice
              | Советы
  
            blockquote
              p.caption
                | От того, кто знает противника
  
          //- Body
          p
            | Если вы хотите услышать мнение о вашем дизайне или удобстве пользовательского взаимодействия с продуктом, который имеет такой дизайн, от человека проектирующего сайты со смыслом, то будьте уверены, я его вам дам. Но это не бесплатно. И дело тут скорее не в деньгах и времени (но в них тоже), а в полном отсутствии силы у бесплатных советов. Проще говоря, бесплатные советы никому не нужны
          p
            | Почему я предлагаю? Очень просто - мне это интересно и я в этом разбираюсь. Я укажу вам на откровенно слабые места в контенте, неудобный дизайн, разного рода клише (как на многих, многих сайтах, и возможно у ваших конкурентов) и покажу как можно улучшить ситуацию и облегчить жизнь пользователей вашего приложения
  
        //- Subsection 10 in Section 2
        section
          //- Header
          header
            a.anchor(href='#Stages')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Stages
              | Этапы верстки
  
            blockquote
              p.caption
                | Ведь никто не думал, что все так просто
  
          //- Body
          ol
            li Оценка макета
            li Разметка
            li Построение
            li Адаптация
            li Анимация и визуализация
            li Логика
  
  
    //- Section 3
    section
      .container
        //- Header
        header
          a.anchor(href='#TechnicalDetails')
            i.fas.fa-anchor(aria-hidden='true')
  
          a.anchor(href='#PageFooter' title='Следующий раздел')
            i.fas.fa-level-down-alt(aria-hidden='true')
  
          a.anchor(href='#Details' title='Предыдущий раздел')
            i.fas.fa-level-up-alt(aria-hidden='true')
  
          h1#TechnicalDetails
            | Для тех, кто в теме или как все работает
  
          blockquote
            p.caption
              | Темная сторона проекта

        //- Summary
        p
          | Краткое содержание раздела
        ol
          li
            a(href='#Build')
              | Сборка проекта
          li
            a(href='#Code')
              | Код
          li
            a(href='#Compression')
              | Сжатие
          li
            a(href='#Linting')
              | Проверка написания | Линтер
          li
            a(href='#Scope')
              | Области видимости
          li
            a(href='#Compatibility')
              | Совместимость
          li
            a(href='#ARIA')
              | Html access aria
          li
            a(href='#Units')
              | Единицы измерения
          li
            a(href='#Cutting')
              | Подготовка макета
          li
            a(href='#Optimization')
              | Оптимизация
          li
            a(href='#Outline')
              | Аутлайн
          li
            a(href='#Grid')
              | Сетка
          li
            a(href='#Adaptation')
              | Адаптация
          li
            a(href='#RebootCSS')
              | Сброс стилей
          li
            a(href='#Gzip')
              | Сжатие gzip
          li
            a(href='#Fonts')
              | Шрифты
          li
            a(href='#Images')
              | Изображения
          li
            a(href='#Icons')
              | Иконки
          li
            a(href='#Scripts')
              | Скрипты
          li
            a(href='#OlderBrowsers')
              | Старые браузеры
          li
            a(href='#RevealingUnseen')
              | Открытие невидимого
          li
            a(href='#LightWeight')
              | Легкость

        //- Body
        p
          | Следующие настройки процесса разработки могут быть заявлены заказчиком в письменном виде в специальном документе, согласованы и подписаны обеими сторонами. В противном случае разработка и сборка производятся по-умолчанию и на мое усмотрение
  
        //- Subsection 1 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Build')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Build
              | Сборка проекта
  
            blockquote
              p.caption
                | Он тут всем заправляет
  
          //- Body
          p
            | Производится с помощью WebPack
  
        //- Subsection 2 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Code')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Code
              | Код
  
            blockquote
              p.caption
                | Требуется переводчик на Вавилонскую башню
  
          //- Body
          p
            | Исходные коды (исходники) пишутся на HTML шаблонизаторе (не пугаться и не путать с другими абсолютно несвязными инструментами) Pug и CSS препроцессоре Stylus (нет, не Sass). Будьте готовы, что исходный код разбит на целый ряд модулей-отдельных файлов а не представлен в виде одного файла с длинной простыней текста
          p
            | Возможность выбрать тип подключения js плагинов библиотек в том числе jquery. Будут ли они подключаться через CDN (общее хранилище) или включены в код проекта во время сборки. Во время разработки и сборки никакие библиотеки не модифицируются никоим образом. Ничего не добавляется, не дописывается, ничего не вырезается и не удаляется. Весь код библиотек идентичен коду из общего хранилища. Устанавливается с помощью менеджера пакетов yarn в отдельную директорию только для чтения. Так что этот параметр всего лишь вкусовщина подключения. По умолчанию код интегрируется в приложение
  
        //- Subsection 3 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Compression')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Compression
              | Сжатие
  
            blockquote
              p.caption
                | Компактный внутренний мир
  
          //- Body
          p
            | Во время сборки производится сжатие собранного кода. Удаляются пробелы пустые строки и комментарии которые визуально помогали ориентироваться в коде во время разработки, но не будут ничем полезны а лишь увеличат время загрузки во время работы приложения. Но это не значит что править код теперь будет невозможно. Ведь по факту, исходные файлы остаются как и были и при их модификации сборка производится снова (это очень быстро). Править рабочий код прямо во время работы сайта недопустимо. Поэтому новые файлы просто копируются с заменой в рабочий каталог, но только после тестирования
          p
            | Но я могу сделать билд без сжатия
          p
            | Также существуют source map (карта исходников). Файлы, которые хранят записи о том, каким код был до сжатия и открываются, например, в инспекторе браузера. Но на продакшене, как правило, тоже не нужны. Ну и наконец сжатый код можно разжать (нет не вручную), если очень хочется, специальным инструментом типа бьютифаер (от анг. beautify - улучшать внешний вид)
  
        //- Subsection 4 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Linting')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Linting
              | Проверка написания | Линтер
  
            blockquote
              p.caption
                | Очень строгий. Очень действенный
  
          //- Body
          p
            | Во время написания исходных кодов работает линтер. Он проверяет соответствие кода заранее указанным стандартам и стилю. Таким образом и исходный и скопилированный коды выглядят однородно и их приятно поддерживать
  
        //- Subsection 5 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Scope')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Scope
              | Области видимости
  
            blockquote
              p.caption
                | Меньше видишь, крепче спишь
  
          //- Body
          p
            | Для структуризации и условного разделения кода на модули я использую bem методологию. Эта методология дает различные плюсы но и имеет некоторые недостатки
          p
            | Но что можно сказать наверняка - приложение с ним становится в разы стабильнее и вероятность что верстка развалиться значительно снижается
          p
            | Скоро можно будет выбирать между бэм и css modules. Но пока только bem умолчание
  
        //- Subsection 6 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Compatibility')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Compatibility
              | Совместимость
  
            blockquote
              p.caption
                | Не время проявлять индивидуальность
  
          //- Body
          p
            | Это понятие слишком широкое для этого момента и включает в себя еще кое-что
          p
            | Расстановка вендорных префиксов в исходном css коде. Я не забуду их проставить, это делает автоматика (автопрефиксер). Синхронизируется с сайтом caniuse и, собственно, проставляет. Моя задача только его настроить. А я настроил
          p
            | Разумеется это не дает мне права писать как зря. Я не использую как устаревшие и не рекомендуемые свойства, так и совсем новые, которые едва прошли стандартизацию, а то еще и не попали в стандарт

        //- Subsection 7 in Section 3
        section
          //- Header
          header
            a.anchor(href='#ARIA')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#ARIA
              | Html access aria

            blockquote
              p.caption
                | Укладываем тактильную плитку

          //- Body
          p
            | Я использую его потому-что так надо (это дольше и дороже), но вы можете отказаться. Но я не советую отказываться потому что это необходимо в законченном продукте, как для автомобиля противотуманные фары

        //- Subsection 8 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Units')
              i.fas.fa-anchor(aria-hidden='true')
  
            h1#Units
              | Единицы измерения

            blockquote
              p.caption
                | Запах типографии

          //- Body
          p
            | Все размеры в процессе верстки указываются в типографских аналогах для веба - относительных единицах Em и Rem. С ними, при увеличении размера шрифта в браузере (не путать с zoom), верстка сохранит свои пропорции

        //- Subsection 9 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Cutting')
              i.fas.fa-anchor(aria-hidden='true')

            h1#Cutting
              | Подготовка макета

            blockquote
              p.caption
                | Достаем ножницы

          //- Body
          p
            | Если макет уже нарезан и подготовлен к верстке то это дешевле. Иначе я вырезаю необходимые элементы дизайна вручную в графическом редакторе

        //- Subsection 10 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Optimization')
              i.fas.fa-anchor(aria-hidden='true')

            h1#Optimization
              | Оптимизация

            blockquote
              p.caption
                | Для меня это не важно, а для пользователей и подавно

          //- Body
          p
            | Пиксельные отклонения в несколько пикселей не воспроизводятся

        //- Subsection 11 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Outline')
              i.fas.fa-anchor(aria-hidden='true')

            h1#Outline
              | Аутлайн

            blockquote
              p.caption
                | Раскрывает глаза на проблемы

          //- Body
          p
            | Я добавляю невидимые для глаз заголовки в тех местах, где они должны быть, но не предусмотрены в дизайне. Содержимое на странице (в логике) выглядит как книга, с ее главами, разделами и подразделами. Но визуально это может быть совсем не так. Поэтому я использую инструмент аутлайн, который показывает мне такую структуру

        //- Subsection 12 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Grid')
              i.fas.fa-anchor(aria-hidden='true')

            h1#Grid
              | Сетка

            blockquote
              p.caption
                | Что нам стоит 
                em grid
                |  построить

          //- Body
          p
            | Для некоторых наборов однотипных элементов (плитки, галереи) я использую модульную сетку, подобно тому, как выравнивают содержимое страницы в типографской верстке. Я использую сетку от bootstrap 4, переведенную в Stylus, подключая только то, что необходимо в данный момент. Если вам кажется подключение всей сетки более целесообразным решением, то вы можете это указать в настройках проекта
          p
            | Если ваш дизайн построен без модульной сетки, то я признаю дизайн неоконченным и буду вынужден скорректировать все блоки по сетке. Это займет некоторое время и будет стоить денег

        //- Subsection 13 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Adaptation')
              i.fas.fa-anchor(aria-hidden='true')

            h1#Adaptation
              | Адаптация

            blockquote
              p.caption
                | Дизайн, не прибитый гвоздями

          //- Body
          p
            | Если у вашего дизайна макет только под настольные компьютеры, то адаптировать под остальные устройства я буду на свое усмотрение, это займет больше времени и стоит дороже

        //- Subsection 14 in Section 3
        section
          //- Header
          header
            a.anchor(href='#RebootCSS')
              i.fas.fa-anchor(aria-hidden='true')

            h1#RebootCSS
              | Сброс стилей

            blockquote
              p.caption
                | Все такие разные, один я одинаковый &copy;

          //- Body
          p
            | Чтобы снизить различия в отображении элементов в различных браузерах я использую переработанный reboot.css от bootstrap 4 в Stylus. Нормализую только те элементы, которые присутствуют на странице, но могу включить в сборку весь сброс по требованию

        //- Subsection 15 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Gzip')
              i.fas.fa-anchor(aria-hidden='true')

            h1#Gzip
              | Сжатие gzip

          //- Body
          p
            | Скоро

        //- Subsection 16 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Fonts')
              i.fas.fa-anchor(aria-hidden='true')

            h1#Fonts
              | Шрифты

            blockquote
              p.caption
                | Роскошная одежда контента

          //- Body
          p
            | В идеале, лучше использовать системные шрифты. Если в вашем дизайне используются специальные шрифты, то вы можете выбрать подключать ли их через CDN или включить файлы в сборку. CDN используется по умолчанию
          p
            | Если в вашем проекте присутствуют проприетарные (платные) шрифты, то они будут заменены на их бесплатные аналоги для веб. Например шрифт &#34;Proxima Nova&#34; будет заменен на &#34;Montserrat&#34;

        //- Subsection 17 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Images')
              i.fas.fa-anchor(aria-hidden='true')

            h1#Images
              | Изображения

            blockquote
              p.caption
                | Лучше один раз увидеть...

          //- Body
          p
            | Изображения будут оптимизированы, если этого не сделал дизайнер, стандартными средствами графического редактора

        //- Subsection 18 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Icons')
              i.fas.fa-anchor(aria-hidden='true')

            h1#Icons
              | Иконки

            blockquote
              p.caption
                | С ними не заскучаешь

          //- Body
          p
            | Иконки могут быть в формате PNG или SVG, а также собраны в спрайт. Хорошо если дизайнер предоставит таковые вместе с макетом. Иначе решение по формату и группировке я буду принимать на свое усмотрение
          p
            | Это не касается иконочных шрифтов. Требования к ним такие же как к обычным шрифтам

        //- Subsection 19 in Section 3
        section
          //- Header
          header
            a.anchor(href='#Scripts')
              i.fas.fa-anchor(aria-hidden='true')

            h1#Scripts
              | Скрипты

            blockquote
              p.caption
                | Думаем как композитор

          //- Body
          p
            | Скрипты пишутся либо на чистом JS, либо с использованием библиотеки JQuery и плагинов. Умолчания тут нет, все зависит от проекта. Скоро будет возможность написать и на ES6. В том смысле, что вы можете заказать исходный код на ES6, так как он все еще будет скомпилирован в ES5

        //- Subsection 20 in Section 3
        section
          //- Header
          header
            a.anchor(href='#OlderBrowsers')
              i.fas.fa-anchor(aria-hidden='true')

            h1#OlderBrowsers
              | Старые браузеры
            blockquote
              p.caption
                | Неуважение старших

          //- Body
          p
            | Совсем старые браузеры, например старые версии интернет эксплорер я не поддерживаю. В соответствии с caniuse - это не целесообразная потеря времени
          p
            | Но если вам необходима поддержка такого рода браузеров (например в компании такие еще используются) то за дополнительную плату и время этот вопрос будет решен

        //- Subsection 21 in Section 3
        section
          //- Header
          header
            a.anchor(href='#RevealingUnseen')
              i.fas.fa-anchor(aria-hidden='true')

            h1#RevealingUnseen
              | Открытие невидимого

            blockquote
              p.caption
                | Не увидеть - не развидеть

          //- Body
          p
            | Во время разметки страницы я вставляю некоторые секционные заголовки даже если их нет в дизайне. Это необходимо для логики разметки и экранных дикторов. В дизайне может присутствовать множество красивых (или не очень) элементов и секций с содержимым (текст) где по логике должен быть заголовок. Но его нет. Довольно часто дизайнеры занимаются больше артом, чем дизайном и забывают (или не знают) что содержимое сайта главнее, чем его подача. Как же быть? Эти заголовки невидимы для глаз, но их прекрасно читают экранные дикторы и поисковые роботы. И все счастливы. Я могу вам указать, какие заголовки были дописаны и скрыты от визуального просмотра, на тот случай, если вам захочется добавить их в дизайн который виден. Не добавлять такие заголовки я не могу, без них продукт будет незавершен

        //- Subsection 22 in Section 3
        section
          //- Header
          header
            a.anchor(href='#LightWeight')
              i.fas.fa-anchor(aria-hidden='true')

            h1#LightWeight
              | Легкость

            blockquote
              p.caption
                | Только самое вкусное

          //- Body
          p
            | Во время сборки в проект включаются только те компоненты, которые используются в верстке. Это касается сброса стилей и модульной сетки. Например, если на странице нет таблиц, то сброс таблиц не применяется. Или если на странице есть только модули размером в три колонки, то остальные вариации не добавляются. Однако, вы возможно хотите включить в проект даже не используемые стили. Это не рекомендуется, но возможно
  
  //- Main Content [END]
  div
    a.to-top(href='#Home')
      | Наверх

  //- Page Footer
  footer#PageFooter.page-footer
    .container
      h2#Contacts Контакты
      p.caption Все в одном месте
      div
        h3 Общие
        p Телефон - +7(999) 518 65 14
        p Email - ethcrawford@gmail.com

      div
        h3 Месендеры
        p Telegram - username
        p Skype  - username
        p Hangouts  - username

      div
        h3 Биржи фриланс работы
        p FL  - username
        p Фрилансим  - username
        p Upwork  - username
        p Freelance.com  - username

      div
        h3 Сети
        p GitHub  - username
        p Twitter  - username

      h2#Requisites Реквизиты
      p.caption Тут все правильно и проверено, уверяю
      p Зарегистрированное имя - ИП Москалец Богдан Александрович
      p ИНН - 312335395197
      p ОГРНИП - 317312300056365
      p КПП - нет
      p ОКВЭД - 14 видов экономической деятельности
      ul
        li 62.01 [Основной] Разработка компьютерного программного обеспечения
        li 74.30 Деятельность по письменному и устному переводу
        li 74.20 Деятельность в области фотографии
        li 74.10 Деятельность специализированная в области дизайна
        li 73.20 Исследование конъюнктуры рынка и изучение общественного мнения
        li 73.12 Представление в средствах массовой информации
        li 73.11 Деятельность рекламных агентств
        li 63.99 Деятельность информационных служб прочая, не включенная в другие группировки
        li 63.91 Деятельность информационных агентств
        li 63.12 Деятельность web-порталов
        li 63.11 Деятельность по обработке данных, предоставление услуг по размещению информации и связанная с этим деятельность
        li 62.09 Деятельность, связанная с использованием вычислительной техники и информационных технологий, прочая
        li 62.03 Деятельность по управлению компьютерным оборудованием
        li 62.02 Деятельность консультативная и работы в области компьютерных технологий

      h2#Contracts Документы
      p Пример договора с техническим заданием для ооо ип физ лица
      p Пример счета на оплату работы
      p Пример акта выполненных работ для ооо ип физ лица
      p Разное
      p Пример настройки проекта - требуется для продвинутой настройки проекта только для знающих
      p Пустой
      p Заполненный

      h2 Сотрудничество
      p.caption Налаживаем связь
      p Если вы дизайнер и вам нужен партнер верстальщик, то feel free писать мне на почту с предложением сотрудничества

      h2 Отзывы
      p.caption Хотите отозваться?
      p Пишите мне на почту, если у вас есть замечания или вопросы после прочтения этой страницы. Мне будет приятно узнать с чем вы соглашаетесь в моем подходе к работе и любопытно что откровенно вам оказалось не по нраву и почему

      h2 Подпись
      p Создавая некоторые элементы дизайна я вдохновлялся подачей тинькофф журнал ссылка
      p Текст для сайта написан с помощью личного опыта и знаний полученных из книг по копирайтингу и маркетингу. А также дизайну интерфейсов и проектирования пользовательского взаимодействия и еще очень много чего
      p Идеи дизайна взяты отсюда

      h2 Копирайт
      p Все права на текст, находящийся на данном сайте, принадлежат автору. А автор я - Москалец Богдан, или под псевдонимом Ethcrawford. Кстати, псевдоним Ethcrawford тоже принадлежит мне.
      img(src=require('../../../images/brand/Ethcrawford-logo-xs.png') alt='Логотип Ethcrawford. Псевдоним (Ethcrawford) зачеркнут, под ним подпись (Даже не спрашивай) неровно вписанные в квадрат')
