// main.styl

/**
 * Default styles (mobile first)
 * --------------------------------------------------------------------------
 * Extra small devices [without postfix -xs] (portrait phones, less than 576px)
 * No media query since this is the default
 *
 */

/**
 * Libs import
 *
 * Relative path to libs
 * Default: '../lib/'
 *
 */

$lib-path = '../lib/'

@import $lib-path + '_reboot'
@import $lib-path + '_visually-hidden'
@import $lib-path + '_flex-grid-framework'



/**
 * Utils import
 *
 * Relative path to utils
 * Default: './styl/'
 *
 */

$util-path = './styl/'

@import $util-path + '_variables'
@import $util-path + '_mixins'
@import $util-path + '_extends'



/**
 * Fonts import
 *
 * Relative path to font utils
 * Default: './styl/'
 *
 */
/*
@import $util-path + '_font-faces'
@import $util-path + '_google-fonts'
*/
@import $util-path + '_font-awesome-brands'
@import $util-path + '_font-awesome-regular'
@import $util-path + '_font-awesome-solid'
@import $util-path + '_font-awesome'


/**
 * Mobile Fix
 * --------------------------------------------------------------------------
 */

body
  overflow-x hidden

/**
 * Grid
 * --------------------------------------------------------------------------
 */

.container
.container-fluid
  @extend $container


.row
  @extend $row




/**
 * Blocks
 * --------------------------------------------------------------------------
 */



$invert
  background-color black
  color white


$line-through
  text-decoration line-through


.page-header
  padding-top make-rem(100)
  padding-bottom @padding-top


.anchor
  margin-right .5rem


.caption
  font-style italic


.logo
  text-align center
  &__text
    font-size make-rem(28)
    margin-bottom 2rem
  &__first
    font-weight 800
    @extends $invert
    text-decoration line-through
  &__last
    font-weight 400
  &__caption
    font-size 1rem
    font-weight 400
    font-style italic


.line-through
  @extends $line-through

.navbar-list
  list-style none
  display table
  margin-right auto
  margin-left auto
  padding-left 0
  &__item
    padding .5rem
  &__link
    @extends $invert
    font-weight 400




.invert
  @extends $invert




.to-top
  position fixed
  right 0
  bottom 0
  z-index 100
  display block
  border 1px $color-3 solid
  border-radius 5px
  padding .5rem
  color inherit
  background-color #fafafa
  opacity .5
  &:hover
  &:active
    background-color gray
    border-color @background-color
    color white



h1
  font-size make-rem(24)

/**
 * Media
 * --------------------------------------------------------------------------
 */

/**
 * Small
 * --------------------------------------------------------------------------
 * Small devices [-sm] (landscape phones, 576px and up)
 *
 */

@media (min-width: 576px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 540px




  /**
   * Blocks
   * ------------------------------------------------------------------------
   */


/**
 * Medium
 * --------------------------------------------------------------------------
 * Medium devices [-md] (tablets, 768px and up)
 *
 */

@media (min-width: 768px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 720px




  /**
   * Blocks
   * ------------------------------------------------------------------------
   */



/**
 * Large
 * --------------------------------------------------------------------------
 * Large devices [-lg] (desktops, 992px and up)
 *
 */

@media (min-width: 992px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 960px



  /**
   * Blocks
   * ------------------------------------------------------------------------
   */


/**
 * Extra large
 * --------------------------------------------------------------------------
 * Extra large devices [-xl] (large desktops, 1200px and up)
 *
 */

@media (min-width: 1200px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 1140px



  /**
   * Blocks
   * ------------------------------------------------------------------------
   */


/**
 * Print [-print]
 * --------------------------------------------------------------------------
 * For printing
 *
 */
/*
@media print
*/
