// main.styl

/**
 * Default styles (mobile first)
 * --------------------------------------------------------------------------
 * Extra small devices [without postfix -xs] (portrait phones, less than 576px)
 * No media query since this is the default
 *
 */

/**
 * Libs import
 *
 * Relative path to libs
 * Default: '../lib/'
 *
 */

$lib-path = '../lib/'

@import $lib-path + '_reboot'
@import $lib-path + '_visually-hidden'
@import $lib-path + '_flex-grid-framework'



/**
 * Utils import
 *
 * Relative path to utils
 * Default: './styl/'
 *
 */

$util-path = './styl/'

@import $util-path + '_variables'
@import $util-path + '_mixins'



/**
 * Fonts import
 *
 * Relative path to font utils
 * Default: './styl/'
 *
 */
/*
@import $util-path + '_font-faces'
@import $util-path + '_google-fonts'
*/

/**
 * Mobile Fix
 * --------------------------------------------------------------------------
 */

body
  overflow-x hidden
  color $color-3


/**
 * Grid
 * --------------------------------------------------------------------------
 */

.container
  @extend $container

.row
  @extend $row

for i in (1..flx-column_number)
  .col-{i}
    @extend $col-{i}


/**
 * Blocks
 * --------------------------------------------------------------------------
 */

.page-header
  display flex
  padding-top make-rem(100)
  padding-bottom @padding-top
  padding-right make-rem(69)
  padding-left @padding-right
  background-color white
  &__title
    font-weight 600
    font-size make-rem(24)


.section-1
  padding-top make-rem(190)
  padding-bottom make-rem(240)
  &__title
    font-size make-rem(30)
  &__title-heavy
    text-decoration line-through
    font-weight 800
  &__title-light
    font-weight 400
  &__lead
    font-size make-rem(18)
    font-weight 400
  &__title
  &__lead
    text-align center


.section-2
  position relative
  padding-top make-rem(290)
  padding-bottom make-rem(300)
  &__title
    font-size make-rem(30)
    font-weight 800
  &__lead
    font-size make-rem(18)
    font-weight 500
  &__bg
    background-color $color-17
    position absolute
    width 82.08333333333333%
    top 0
    left 0
    bottom 0
    z-index -10
  &__menu
    position absolute
    background-color white
    width 202px
    height @width
    bottom 0
    right 0

/**
 * Media
 * --------------------------------------------------------------------------
 */

/**
 * Small
 * --------------------------------------------------------------------------
 * Small devices [-sm] (landscape phones, 576px and up)
 *
 */

@media (min-width: 576px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 540px

  for i in (1..flx-column_number)
    .col-sm-{i}
      @extend $col-{i}


  /**
   * Blocks
   * ------------------------------------------------------------------------
   */


/**
 * Medium
 * --------------------------------------------------------------------------
 * Medium devices [-md] (tablets, 768px and up)
 *
 */

@media (min-width: 768px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 720px

  for i in (1..flx-column_number)
    .col-md-{i}
      @extend $col-{i}


  /**
   * Blocks
   * ------------------------------------------------------------------------
   */



/**
 * Large
 * --------------------------------------------------------------------------
 * Large devices [-lg] (desktops, 992px and up)
 *
 */

@media (min-width: 992px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 960px

  for i in (1..flx-column_number)
    .col-lg-{i}
      @extend $col-{i}

  /**
   * Blocks
   * ------------------------------------------------------------------------
   */


/**
 * Extra large
 * --------------------------------------------------------------------------
 * Extra large devices [-xl] (large desktops, 1200px and up)
 *
 */

@media (min-width: 1200px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 1140px

  for i in (1..flx-column_number)
    .col-xl-{i}
      @extend $col-{i}

  /**
   * Blocks
   * ------------------------------------------------------------------------
   */


/**
 * Print [-print]
 * --------------------------------------------------------------------------
 * For printing
 *
 */
/*
@media print
*/
