// main.styl

/**
 * Default styles (mobile first)
 * --------------------------------------------------------------------------
 * Extra small devices [without postfix -xs] (portrait phones, less than 576px)
 * No media query since this is the default
 *
 */

/**
 * Libs import
 *
 * Relative path to libs
 * Default: '../lib/'
 *
 */
/*
$lib-path = '../lib/'

@import $lib-path + '_reboot'
@import $lib-path + '_visually-hidden'
@import $lib-path + '_flex-grid-framework'
*/


/**
 * Utils import
 *
 * Relative path to utils
 * Default: './styl/'
 *
 */

$util-path = './styl/'

@import $util-path + '_variables'
@import $util-path + '_mixins'
@import $util-path + '_extends'



/**
 * Fonts import
 *
 * Relative path to font utils
 * Default: './styl/'
 *
 */
/*
@import $util-path + '_font-faces'
@import $util-path + '_google-fonts'
*/
/*
@import $util-path + '_font-awesome-brands'
@import $util-path + '_font-awesome-regular'
@import $util-path + '_font-awesome-solid'
@import $util-path + '_font-awesome'
*/

/**
 * Mobile Fix
 * --------------------------------------------------------------------------
 */

body
  overflow-x hidden
  background-color #e6ecf0
  color #14171a

/**
 * Grid
 * --------------------------------------------------------------------------
 */
/*
.container
.container-fluid
  @extend $container
*/
/*
.row
  @extend $row
*/



/**
 * Blocks
 * --------------------------------------------------------------------------
 */





.page-header
  padding-top make-rem(100)
  padding-bottom make-rem(80)


.tooltip
  cursor help

.footer-section
  background-color transparent


.big-text
  font-size make-rem(60)
  font-weight 700
  font-style normal
  &__caption
    margin-bottom 2rem

.section
  padding-bottom make-rem(100)
  &_first
    padding-top make-rem(20)
  &__title
    font-size make-rem(28)
    font-weight 700
    font-style normal


.section-bg
  background-color white


.eth-logo
  display block
  margin-left auto
  margin-right auto
  margin-bottom make-rem(50)


.summary
  padding-top 1rem
  &__title
    font-size make-rem(18)



.subsection
  padding-bottom make-rem(50)
  &_first
    padding-top make-rem(50)
  &_last
    padding-bottom 0
  &__title
    font-size make-rem(24)
    font-weight 700

.anchor
  margin-right .5rem


.caption
  font-style italic


.logo
  font-size make-rem(32)
  text-align center
  margin-bottom 2rem
  &__one
    font-weight 700
    color white
    background-color #14171a
    text-decoration line-through
  &__two
    font-weight 400


.logo-caption
  text-align center
  font-size 1rem
  font-weight 400
  font-style italic
  margin-bottom 2rem






.navbar-list
  list-style none
  display table
  margin-right auto
  margin-left auto
  padding-left 0
  &__item
    padding .5rem
  &__link
    color white
    font-size 1rem
    font-weight 800
    background-color #14171a
    &:hover
    &:active
      color white
      background-color #14171a
      text-decoration line-through





.to-top
  position fixed
  right 0
  bottom 0
  z-index 100
  border 1px $color-3 solid
  text-align center
  padding .5rem
  font-weight 800
  color white
  background-color #14171a
  &:hover
  &:active
    text-decoration line-through
    border-color white
    color white



/**
 * Media
 * --------------------------------------------------------------------------
 */

/**
 * Small
 * --------------------------------------------------------------------------
 * Small devices [-sm] (landscape phones, 576px and up)
 *
 */

@media (min-width: 576px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 540px




  /**
   * Blocks
   * ------------------------------------------------------------------------
   */


/**
 * Medium
 * --------------------------------------------------------------------------
 * Medium devices [-md] (tablets, 768px and up)
 *
 */

@media (min-width: 768px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 720px




  /**
   * Blocks
   * ------------------------------------------------------------------------
   */



/**
 * Large
 * --------------------------------------------------------------------------
 * Large devices [-lg] (desktops, 992px and up)
 *
 */

@media (min-width: 992px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 960px



  /**
   * Blocks
   * ------------------------------------------------------------------------
   */


/**
 * Extra large
 * --------------------------------------------------------------------------
 * Extra large devices [-xl] (large desktops, 1200px and up)
 *
 */

@media (min-width: 1200px)

  /**
   * Grid
   * ------------------------------------------------------------------------
   */

  .container
    max-width 1140px



  /**
   * Blocks
   * ------------------------------------------------------------------------
   */


/**
 * Print [-print]
 * --------------------------------------------------------------------------
 * For printing
 *
 */
/*
@media print
*/
